      </div>
    </div>
  </div>
  <script>
    $(document).ready( function () {
        $('#table').find('table').attr('id','myTable');
        $('#myTable').addClass('Display')
        $('<tbody><\/tbody>').prependTo('#myTable').append($('#myTable tr'));
        $('<thead><\/thead>').prependTo('#myTable').append($('#myTable tr:first'));
        $('#myTable').DataTable({"pageLength": 50});
     } );
  </script>
</body>
</html>
